* {
	margin: 0px;
	padding: 0px;
}

body {
	margin-left: 2px;
	margin-top: 15px;
	font-family: 'Arial Narrow', sans-serif ;
}
	
.upper-cover {
	width: 1279px;
	height: 5px;
	position: absolute;
	top: 0px;
	left: -2px;
	background-color: #ddeeff;
	border-style: none;
	z-index: 1;
}

.main-page {
	width: 1000px;
	height: 990px;
	margin-top: -9px;
	position: relative;
	left: 150px;
	background-color: #edeef0;
	-webkit-box-shadow: -1px 0px 20px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 0px 20px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 0px 20px -1px rgba(0,0,0,0.75);
}

.header {
	width: 1000px;
	height: 175px;
	background-color: #fff;
}

.pic2 {
	position: absolute;
	top: 110px;
	left: 635px;
}

.contacts {
	width: 130px;
	height: 80px;
	position: absolute;
	top: 5px;
	left: 843px;
	font-size: 11pt;
	color: #41a1b9;
	line-height: 1.3;
}

.countries {
	width: 433px;
	position: absolute;
	top: 155px;
	left: 645px;
	font-family: cambria sans-serif;
	font-size: 8pt;
}

.countries > a {
	margin-right: 24px;
	color: #41a1b9;
}

.countries :last-child {
	margin-left: -16px;
}

.countries :nth-child(2) {
	margin-left: 2px;
}

.countries :nth-child(5) {
	margin-left: -8px;
}

.title-image {
	height: 235px;
	margin-top: 0px;
	overflow: hidden;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu {
	margin-top: 2px;
}

ul.menu > li {
	width: 160px;
	height: 30px;
    float: left;
    position: relative;
    background-color: #333333;
    font-size: 11pt;
}	
	
.contact-info {
	margin-left: -76px;
	text-indent: 15px;
}

.about-us {
	margin-left: -44px;
}

ul.menu > li > a {
    display: block;
    padding-top: 3px;
    padding-bottom: 9px;
    color: white;
    text-decoration: none;
    font-size: 12pt;
}
ul.menu > li > .travels {
	padding-left: 24px;
}

ul.menu > li > .services {
	padding-left: 14px;
}

ul.menu > li > .partners {
	padding-left: 10px;
	margin-left: -36px;
}

ul.menu > li > .comments {
	margin-left: -49px;
}

.about-us {
	text-indent: 20px;
}

.contact-info {
	text-indent: 35px;
}

.a-main {
	text-indent: 25px;
	text-align: center;
}

ul.menu > li > a:hover {
    background-color: black;
    width: 160px;
}

ul.menu > li > .services:hover {
    background-color: black;
    width: 100px;
}

ul.menu > li > .partners:hover {
    background-color: black;
    width: 112px;
}

ul.menu > li > .comments:hover {
	margin-left: -60px;
	padding-left: 11px;
    background-color: black;
    width: 150px;
}

ul.submenu-s {
 	display: none;
    position: absolute;
    width: 115px;
    top: 37px;
    left: 0;
}

ul.submenu-s > li {
    display: block;
}

ul.submenu-s > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #333333;
    text-decoration: none;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
}

ul.submenu-s > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu-s {
    display: block;
}

ul.submenu-p {
 	display: none;
    position: absolute;
    width: 120px;
    left: -35px;
}

ul.submenu-p > li {
    display: block;
}

ul.submenu-p > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #333333;
    text-decoration: none;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
}

ul.submenu-p > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu-p {
    display: block;
}



.travels::after {
	content: " \2207";
	transform: rotate(15deg);

}

.services::after {
	content: " \2207";
	transform: skewY(90deg);
}

.partners::after {
	content: " \2207";
}

ul.submenu {
    display: none;
    position: absolute;
    width: 160px;
    left: 0;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #333333;
    text-decoration: none;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
}

ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

.column1, .column2, .column3 {
	width: 210px;
	margin-top: 3px;
	background-color: #edeef0;
	height: 545px;
	float: left;
	overflow:hidden;
}

.column1 > h3, .column3 > h3 {
	text-align: center;
	color: #646c66;
	margin-top: 4px;

}

.column1 > p, .column3 > p {
	margin-top: 4px;
	margin-left: -10px;
	padding: 0px 25px 0px 25px;
	text-align: justify;
	line-height: 1.3;
	color: #7d837f;
	letter-spacing: 0.4px;
}

.column2 { 
	width: 580px;
	background-color: white;
 }

.columns {
	width: 1000px;
	height: 545px;
}

.footer {
	margin-top: 8px;
	margin-left: -2px;
	font-size: 10pt;
	text-align: center;
	color: #fff;
	letter-spacing: 0.4px;

}

.first-background {
	margin-top: -7px;
	width: 1280px;
	height: 1020px;
	position: absolute;
	left: -1px;
	background-color: #128aa7;
}

.second-background {
	width: 1280px;
	height: 260px;
	position: absolute;
	left: -1px;
	top: 34px;
	z-index: 0;
	background: rgba(33,208,227,1);
	background: -moz-linear-gradient(top, rgba(33,208,227,1) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,208,227,1)), color-stop(85%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(33,208,227,1) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(33,208,227,1) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(33,208,227,1) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(33,208,227,1) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21d0e3', endColorstr='#ffffff', GradientType=0 );
}

.third-background {
	width: 1280px;
	height: 847px;
	position: absolute;
	left: -1px;
	top: 181px;
	background: rgba(61,194,209,1);
	background: -moz-linear-gradient(top, rgba(61,194,209,1) 0%, rgba(61,194,209,1) 12%, rgba(12,116,160,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61,194,209,1)), color-stop(12%, rgba(61,194,209,1)), color-stop(100%, rgba(12,116,160,1)));
	background: -webkit-linear-gradient(top, rgba(61,194,209,1) 0%, rgba(61,194,209,1) 12%, rgba(12,116,160,1) 100%);
	background: -o-linear-gradient(top, rgba(61,194,209,1) 0%, rgba(61,194,209,1) 12%, rgba(12,116,160,1) 100%);
	background: -ms-linear-gradient(top, rgba(61,194,209,1) 0%, rgba(61,194,209,1) 12%, rgba(12,116,160,1) 100%);
	background: linear-gradient(to bottom, rgba(61,194,209,1) 0%, rgba(61,194,209,1) 12%, rgba(12,116,160,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dc2d1', endColorstr='#0c74a0', GradientType=0 );
}
